@import "tailwindcss";

@theme {
  --color-grey: #a4a0a0;
  --color-main2: #17152d;

  --color-tg: #27a6e5;
  --color-whatsapp: #48c95f;
  --color-bg-email: #17152d;
  --color-bg-inst: #ee2a7b;
  --color-bg-grey: #f9f9f9;
  --color-bg-green: #00a43d;
  --color-bg-red: #dc1b26;
}

body {
  font-family: var(--font-montserrat-sans);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  line-height: 140%;
}
